include ../dashboardForms/trashedForm
mixin trashedEntryModal(curata, entry={})
	.trashedModal.anyModal
		.modalBackground
		.trashedEntryModal
			.createTrashedModalActions__space
				.modalUntrash
					.untrashEntry.buttonGrey.inline
						img.untrashIcon.inline(src= '/images/untrashIcon.png')
						img.greyUntrashIcon(src= '/images/greyUntrashIcon.png')
						span.untrashText Untrash
					.deleteEntry.buttonGrey.inline
						span.deleteEntryText Delete
				.cancelListCreating(style="margin-left:auto;") x
			.sectionArea
				.modalEntryId
				+trashedForm(curata)