extends layout_buttonless

block content
	.sideNav
		//- if curata exists & selected, display 
		ul.sideNavButtons
			li.sideNavLinkContainer
				a.navlink.size18.block Discover
				a.navlink.size18.block Learn
				a.navlink.size18.block Entertain
				a.navlink.size18.block Health
				a.navlink.size18.block Leaderboard
				a.navlink.size18.block Categories
				a.navlink.size18.block My favorites
				a.navlink.size18.block Following
			.so-good-container
				.so-good Let's put an end to information pollution.
	.browseContainer
		.browseHeaderArea
			.bigHeader Top Curatas
		ul.sideNavButtons
			li.sideNavLinkContainer
				a.blockItem.size18.inline Lists
				a.blockItem.size18.inline Entries
				a.blockItem.size18.inline Templates