extends layout_buttonless

//- Inside one Curata, opens up the different category lists inside it
	//- So these links lead to the contents of these lists
	//- Upon clicking any one of those, you are then greeted with entries

block content
	.sideNav
		.currentCurataSwitch #{curata.curataName}
		.goToAllCuratas
			a.allCuratasLink(href='/curatas/' + user.username + '/curatas') View all my Curatas
		//- if curata exists & selected, display 
		ul.sideNavButtons
			li.sideNavLinkContainer
				a.navlink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id) Curations
				a.navlink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/templates') Templates
				a.navlink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/files') Files
				a.navlink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/appearance') Appearance
				a.navlink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/collaborators') Collaborators
				a.navlink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/settings') Settings
		a.viewCurataLive(target="_blank" href='/browse/users/' + user.username + '/curatas/' + curata.id) View live
	if (list)
		.entriesContainer.sideNavMargin(id= list.id data-curataId= curata.id)
			.curataPageTitle Entries
			if (list)
				.createNewEntry(data-multi-template= 'false', data-default-template= list.defaultTemplate) + New Entry
			else 
				.createNewEntry(data-multi-template= 'false') + New Entry
			ul.entriesList
				if (entries)
					each entry in entries
						if (entry.entryTitle)
							li.singleEntry
								a.ribbonList(href='/curatas/' + user.username + '/curatas/' + entry.curataId + '/lists/' + entry.curataListId + '/entries/' + entry.id + '/editing') #{entry.entryTitle}
						else
							li.singleEntry
								a.ribbonList(href='/curatas/' + user.username + '/curatas/' + entry.curataId + '/lists/' + entry.curataListId + '/entries/' + entry.id + '/editing') Untitled entry	
				else 
					p You got no entires yet, bro!
	else
		.entriesContainer.sideNavMargin(data-curataId= curata.id)
			h2 Entries
			if (list)
				.createNewEntry(data-multi-template= 'false', data-default-template= list.defaultTemplate) + New Entry
			else 
				.createNewEntry(data-multi-template= 'false') + New Entry
			ul.entriesList
				if (entries)
					each entry in entries
						li.singleEntry
							a.ribbonList(href='/curatas/' + user.username + '/curatas/' + entry.curataId + '/lists/' + entry.curataListId + '/entries/' + entry.id + '/editing') #{entry.entryTitle}
				else 
					p You got no entires yet, bro!

