extends layout

//- Inside one Curata, opens up the different category lists inside it
	//- So these links lead to the contents of these lists
	//- Upon clicking any one of those, you are then greeted with entries

	//- Depending on Curata, you have to display the right list


block content
	.emptyModal
		.modalBackground
		.createModal
			.cancelListCreating x
			.big-content-wrapper
				a.createNewTemplate(href= '/curatas/' + user.username + '/curatas/' + curata.id + '/templates/newTemplateWithList')
					.createNewTemplateText + Create new template
				.msg-title Or use an existing template:
				each template in templates
					.templateContainer 
						p.templateName #{template.name}
	.sideNav
		.currentCurataSwitch(id= curata.id) #{curata.curataName}
		.goToAllCuratas
			a.allCuratasLink(href='/curatas/' + user.username + '/curatas') View all my Curatas
		//- if curata exists & selected, display 
		ul.sideNavButtons
			li.sideNavLinkContainer
				a.navlink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id) Lists
				a.navlink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/entries') Entries
				a.navlink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/templates') Templates
				a.navlink.size18.block Appearance
				a.navlink.size18.block Collaborators
				a.navlink.size18.block Settings
		.viewCurataLive View live
	.curataContainer.largeSideNavMargin
		.addNewList 
			p.addNewListText + New list
		h2 Lists
		ul.curataList
			each list in curata.curataList
				li.singleList
					a.navlink.ribbonList(href='/curatas/' + user.username + '/curatas/' + curata.id + '/lists/' + list.id) #{list.listName}


//- p My singular Curata list view, with all the entries for a single list, like Failory's startup cemetry, a list only of startups that have failed and their case studies
//- p Where if settings required, then if user is logged in and is admin for that curata list or for some entry (in which case it is marked for the person specifically that such and such they can edit), then there is a button to add new entry (from template).

//- If only one curataList, display its list items directly, meaning display the list itself as multiple list management is not relevant

//- If multiple lists, create a list of lists OR maybe it would be useful  to also see lists in this management board?