extends layout_buttonless

//- Inside one Curata, opens up the different category lists inside it
	//- So these links lead to the contents of these lists
	//- Upon clicking any one of those, you are then greeted with entries

	//- Depending on Curata, you have to display the right list


block content
	.emptyModal
		.modalBackground
		.createModal
			.cancelListCreating x
			.big-content-wrapper
				a.createNewTemplate(href= '/curatas/' + user.username + '/curatas/' + curata.id + '/templates/newTemplateWithList')
					.createNewTemplateText + Create new template
				.msg-title Or use an existing template:
				each template in templates
					.templateContainer 
						p.templateName #{template.name}
	.sideNav
		.curataName #{curata.curataName}
		.curataSwitcher
			.currentCurataSwitch(id= curata.id) Switch Curata
			.drop-down__menu-box3.unsortable.drop-down-extra-width
				.curataSwitchHeader Switch current Curata
				if (user.defaultCurataId && curata.id == user.defaultCurataId)
					.defaultCurata Default Curata
				else
					.makeDefault Make default
				ul.drop-down__menu3
					each curata in curatas
						li.drop-down__item3.drop-down-extra-styling
							a.curata-link(href='/curatas/' + user.username + '/curatas/' + curata.id) #{curata.curataName}
		.goToAllCuratas
			a.allCuratasLink(href='/curatas/' + user.username + '/curatas') View all my Curatas
		//- if curata exists & selected, display 
		ul.sideNavButtons
			li.sideNavLinkContainer
				a.sidelink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id) Curations
				a.sidelink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/templates') Templates
				a.sidelink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/files') Files
				a.sidelink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/appearance') Appearance
				a.sidelink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/collaborators') Collaborators
				a.sidelink.size18.block(href='/curatas/' + user.username + '/curatas/' + curata.id + '/settings') Settings
		a.viewCurataLive(target="_blank" href='/browse/users/' + user.username + '/curatas/' + curata.id) View live
	.curataContainer.sideNavMargin
		.curataPageTitle My curations
		.addNewList 
			p.addNewListText + New category group
		ul.curataList
			each list in curata.curataList
				li.singleList
					a.ribbonList(href='/curatas/' + user.username + '/curatas/' + curata.id + '/lists/' + list.id) #{list.listName}

//- If only one category/group/list, then show entries and option to add new entry or create new list/category (from template, not quite a category)
	//- else, show the many different groups


//- p My singular Curata list view, with all the entries for a single list, like Failory's startup cemetry, a list only of startups that have failed and their case studies
//- p Where if settings required, then if user is logged in and is admin for that curata list or for some entry (in which case it is marked for the person specifically that such and such they can edit), then there is a button to add new entry (from template).

//- If only one curataList, display its list items directly, meaning display the list itself as multiple list management is not relevant

//- If multiple lists, create a list of lists OR maybe it would be useful  to also see lists in this management board?