extends layout

include mixins/heading
include mixins/image
include mixins/textarea
include mixins/gallery
include mixins/quote
include mixins/infoBox
include mixins/exampleBox
include mixins/expandable
include mixins/questionAnswer
include mixins/sectionBreak
include mixins/list
include mixins/checklist
include mixins/link

//- bring in 'Page Key' & 'Page Overview' kind of like... Stackoverflow's report

block heading
	.helperNavigation
		.navlinks-container
			a.goBack.navlink(href= '/curatas/' + user.username + '/curatas/' + entry.curataId + '/lists/' + entry.curataListId) &larr; Go back
			a.goBack.buttonGrey.inline(href= '/curatas/' + user.username + '/curatas/' + entry.curataId + '/lists/' + entry.curataListId) Go back
			.editTemplate.buttonGrey.inline Edit template
			.showPreview.buttonGrey.inline Show preview
			.cancelDeleteEntry.buttonGrey.inline Cancel & delete
			.entryState.inline(data-entryState= entry.entryState) Entry is #{entry.entryState}.
			if (entry.entryState == "Draft") 
				.publishEntry.buttonGrey.inline Publish
			else
				.makeDraft.buttonGrey.inline Revert to draft
			.statusMessage.inline
			a.navlink(href='/my-curations') &#63;

block content
	.emptyModal
		.modalBackground
		.deleteModal
			.content-wrapper
				.msg-title Are you sure you want to delete this entry?
				.msg-body The entry will be removed and you will not be able to restore it.
				.action-group
					.cancelEntryDelete.button-outline CANCEL
					.confirmEntryDelete.button-filled DELETE
	.switchButtons
		a.navlink.entryView.inline Entry
		a.navlink.settingsView.inline Settings
		//- Settings enables turning on/off whether description, image, link, other is displayed in the final outcome
	.TemplateHolder(id= entry.id)
		if (entry.entryTitle)
			input.EntryTitle(placeholder= "Write something..." value= entry.entryTitle)
		else
			input.EntryTitle(placeholder= "Write something...")
		.mainEditor
			.editorTools.unreset(id= "toolbar_" +entry.id)
			if (entry.entryText)
				.editorText.unreset(id= "editor_" +entry.id) !{entry.entryText}
			else
				.editorText.unreset(id= "editor_" +entry.id)
					p Write something here...
		.mainImage(id= "imageArea_" +entry.id)
			if (entry.entryImageURL)
				.imageBlock(data-type= "mainImage" data-image-key= entry.entryImageKey style='background-image: url(' + entry.entryImageURL + ');')
					.deleteMainImage x
					form.imageForm(action= "/curatas/UploadSingleImage" method="POST" enctype= "multipart/form-data")
						input.ImageInput(type= 'file' name= 'image' accept= 'image/*')
			else 
				.imageBlock(data-type= "mainImage")
					form.imageForm(action= "/curatas/UploadSingleImage" method="POST" enctype= "multipart/form-data")
						input.ImageInput(type= 'file' name= 'image' accept= 'image/*')
		.linkContainer
			if (entry.entryLink)
				a.EntryLink(href= entry.entryLink target="_blank") #{entry.entryLink}
				.removeLink Remove link
			else
				.addEntryLink + Add link
		h2.TemplateId(id= template.id) New #{template.name}
		if (entry.entryComponents.length)
			ul.templateComponents
				each component in entry.entryComponents
					if component.componentType == "heading"
						+heading(component, entry, template)
					if component.componentType == "textarea"
						+text(component, entry, template)
					if component.componentType == "image"
						+image(component, entry, template)
					if component.componentType == "image-gallery"
						+imageGallery(component, entry, template)
					if component.componentType == "question-answer"
						+questionAnswer(component, entry, template)
					if component.componentType == "expandable"
						+expandable(component, entry, template)
					if component.componentType == "quote"
						+quote(component, entry, template)
					if component.componentType == "info-box"
						+infoBox(component, entry, template)
					if component.componentType == "example-box"
						+exampleBox(component, entry, template)
					if component.componentType == "section-break"
						+sectionBreak(component, entry, template)
					if component.componentType == "list"
						+list(component, entry, template)
					if component.componentType == "checklist"
						+checklist(component, entry, template)
					if component.componentType == "link"
						+link(component, entry, template)




//- Curata becomes a logo
	//- Then next to it will be the current Currata you are in (or could be a sidebar thing and switch)
	//- Somewhere in the menu bar also the current list switch
	//- Somewhere a button to quickly visit your Curata 
	//- Option to change which list is default and its location (essentially extra features become available upon creating another list inside an existing curata)


//- You create a template and start curating
	//- Inside the template

//- At any particular time you are 'in' or 'inside' a specific list, inside a specific curata
	//- Within which you can make quick entries
	//- Within which you can quickly change between lists (and thus also entries)
	//- Within which you can quickly change between curatas and it will give the last used list

//- Library/Templates -- public and personal (private) templates by categories, names and even description for the purpose of the template

//- Browse -- public lists and curatas by categories and other filters

//- Creating an entry
	//- There is a button for 'show preview'
	//- It is possible to quickly edit style or design of list
	//- It is possible to quickly edit the template itself and make this change come to effect with all templates and entries as well. As such, it must change the order number of each particular template.

//- Things will change anyway. If that will happen anyway, I'd like to do it proactively. Albeit that is uncomfortable, scary. and possibly painful.
