mixin entrySectionBreak(component, entry, template)
	li.entryComponent.drag.draggable-item(id= "entry_" + component.id, data-component="sectionBreak" data-order= component.componentOrder)
		.sub-sortable-container
			.sectionBreakBlock Section Break Block