mixin entryQuote(component, entry, template)
	li.entryComponent.drag.draggable-item(id= "entry_" + component.id, data-component="quote" data-order= component.componentOrder)
		h2 Quote
		.quoteBlock__published
			.quoteContent__published !{component.componentContent}