mixin entryHeading(component, entry, template)
	li.entryComponent.drag.draggable-item(id= "entry_" + component.id, data-component="heading" data-order= component.componentOrder)
		.publicElementTitle #{component.componentTitle}