mixin checklist(component, entry, template)
	li.Component.drag.draggable-item(id= component.id, data-component="checklist" data-order= component.componentOrder)
		h2 Title 
		ul.listItems.sortableList(id= "sortable_" +component.id)
			if (component.componentList) 
				if (component.componentList.length)
					each item, i in component.componentList
						if (item.listItem)
							li.ListItem.ChecklistItem.sortableListItem(id= item.id)
								if (item.listItemState == "Checked")
									input.checklistBox(type="checkbox" checked)
									input.listItemInput(placeholder= "Write something", value= item.listItem)
									if (item.listItemURL)
										.showLinkContainer View link
									else
										.showLinkContainer Add Link
									.deleteItem x
									.linkContainer.hidden
										if (item.listItemURL)
											a.listItemLink(href= item.listItemURL target="_blank") #{item.listItemURL}
											.hideLinkContainer Hide
											.removeListItemLink Remove link
										else
											input.linkInput(placeholder= "Your link")
											.saveListItemLink Save
											.cancelListItemLink Cancel
								else
									input.checklistBox(type="checkbox")
									input.listItemInput(placeholder= "Write something", value= item.listItem)
									if (item.listItemURL)
										.showLinkContainer View link
									else
										.showLinkContainer Add Link
									.deleteItem x
									.linkContainer.hidden
										if (item.listItemURL)
											a.listItemLink(href= item.listItemURL target="_blank") #{item.listItemURL}
											.hideLinkContainer Hide
											.removeListItemLink Remove link
										else
											input.linkInput(placeholder= "Your link")
											.saveListItemLink Save
											.cancelListItemLink Cancel
						else
							li.ListItem.ChecklistItem.sortableListItem(id= item.id)
								if (item.listItemState == "Checked")
									input.checklistBox(type="checkbox" checked)
									input.listItemInput(placeholder= "Write something")
									if (item.listItemURL)
										.showLinkContainer View link
									else
										.showLinkContainer Add Link
									.deleteItem x 
									.linkContainer.hidden
										if (item.listItemURL)
											a.listItemLink(href= item.listItemURL target="_blank") #{item.listItemURL}
											.hideLinkContainer Hide
											.removeListItemLink Remove link
										else
											input.linkInput(placeholder= "Your link")
											.saveListItemLink Save
											.cancelListItemLink Cancel
								else
									input.checklistBox(type="checkbox")
									input.listItemInput(placeholder= "Write something")
									if (item.listItemURL)
										.showLinkContainer View link
									else
										.showLinkContainer Add Link
									.deleteItem x 
									.linkContainer.hidden
										if (item.listItemURL)
											a.listItemLink(href= item.listItemURL target="_blank") #{item.listItemURL}
											.hideLinkContainer Hide
											.removeListItemLink Remove link
										else
											input.linkInput(placeholder= "Your link")
											.saveListItemLink Save
											.cancelListItemLink Cancel
				else
					li.ListItem.ChecklistItem.sortableListItem
						input.checklistBox(type="checkbox")
						input.listItemInput(placeholder= "Write something")
						.showLinkContainer Add Link
						.linkContainer.hidden
							input.linkInput(placeholder= "Your link")
							.saveListItemLink Save
							.cancelListItemLink Cancel
		.addNewListItemButton + Add Item

