mixin checklist(component, entry, template)
	li.Component.drag.draggable-item(id= component.id)
		h2 Title 
		ul.listItems
			li
				input.ElementTitle(placeholder= template.name)
		.addNewItemButton + Add Question

