mixin expandable(component, entry, template)
	li.Component.componentCSS.drag.draggable-item(id= component.id, data-component="expandable" data-order= component.componentOrder)
		button.expandable.unsortable
			input.ElementTitle(placeholder="Title", value= component.componentTitle)
		.content
			.editorSortable
				.simpleEditor
					.editorTools.unreset(id= "toolbar_" +component.id)
					if (component.componentContent)
						.editorText.unreset(id= "editor_" +component.id) !{component.componentContent}
					else
						.editorText.unreset(id= "editor_" +component.id)
							p Write something here...
