mixin imageGallery(component, entry, template)
	li.Component.componentCSS.drag.draggable-item(id= component.id, data-component="gallery" data-order= component.componentOrder)
		.sub-sortable-container
			.imageBlock + Click to upload
				.imageMeta