mixin infoBox(component, entry, template)
	li.Component.componentCSS.drag.draggable-item(id= component.id, data-component="infoBox" data-order= component.componentOrder)
		.sub-sortable-container
			.infoBlock
				.infoTitle
				.infoContent
				.editorSortable
					.simpleEditor
						.editorTools.unreset(id= "toolbar_" +component.id)
						if (component.componentContent)
							.editorText.unreset(id= "editor_" +component.id) !{component.componentContent}
						else
							.editorText.unreset(id= "editor_" +component.id)
								p Write something here...