mixin link(component, entry, template)
	li.Component.drag.draggable-item(id= component.id, data-component="link" data-order= component.componentOrder)
		h2 Title 
		.linkContainer
			if (component.componentLink)
				a.ComponentLink(href= component.componentLink target="_blank") #{component.componentLink}
				.removeLink Remove
			else
				input.ComponentLink(placeholder= "Your link")
				.saveComponentLink Save