mixin quote(component, entry, template)
	li.Component.componentCSS.drag.draggable-item(id= component.id, data-component="quote" data-order= component.componentOrder)
		.sub-sortable-container
			.quoteBlock
				.quoteContent
				.editorSortable
					.simpleEditor
						.editorTools.unreset(id= "toolbar_" +component.id)
						if (component.componentContent)
							.editorText.unreset(id= "editor_" +component.id) !{component.componentContent}
						else
							.editorText.unreset(id= "editor_" +component.id)
								p Write something here...