mixin sectionBreak(component, entry, template)
	li.Component.drag.draggable-item(id= component.id, data-component="sectionBreak" data-order= component.componentOrder)
		.sub-sortable-container
			.sectionBreakBlock Section Break Block