mixin text(component, entry, template)
	li.Component.drag.draggable-item(id= component.id, data-component="textarea" data-order= component.componentOrder)
		.editorSortable
			.editor
				.editorTools.unreset(id= "toolbar_" +component.id)
				if (component.componentContent)
					.editorText.unreset(id= "editor_" +component.id) !{component.componentContent}
				else
					.editorText.unreset(id= "editor_" +component.id)
						p Write something here...